@model IEnumerable<CDentonReviews.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">

    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                    @Html.DisplayFor(modelItem => item.Author)
                </div>

                <div class="col-md-12">
                    @Html.DisplayNameFor(model => model.Rating)
                    @Html.DisplayFor(modelItem => item.Rating)
                    <div></div>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Edit Review", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Read Review", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </div>
            </div>
        </div>

    }

</div>
